<p><%= t(:'email.hello_header', :email => @email) %></p>

<p><%= t(:'email.request_pass_change_body') %></p>

<p><%= link_to t(:change_my_pass), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:'email.request_pass_change_ignore') %></p>
<p><%= t(:'email.request_pass_change_modification') %></p>
